.l-background{
    background-color:  papayawhip;
}

.l-sections{
    background-color: #ff6b61;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    gap: 20px;
}

.joke{
    border: 5px solid;
    border-color: #ff6b61;
}

.intro{
    display: flex;
    justify-content: center;
}
