.l-background{
    background-color:  papayawhip;
}

.l-sections{
    background-color: #ff6b61;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    gap: 20px;
}

.joke{
    border: 5px solid;
    border-color: #ff6b61;
}

.intro{
    display: flex;
    justify-content: center;
}

.liste{
    display: none;
   
}


.liste.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5em;    
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5em;
    a:hover {background-color: #ddd;}
    padding: 16px;
    font-size: 16px;
    a:link{color: black;}
    a:visited{color:red;}
    a:active{color:#ff6b61;}

}

#menu{
    background-color: #ff6b61;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.gallerie.col{
    width: 500px;
    display:flex;
    flex-direction:column;
}

.slide{
    display: none;
}

.slide.show{
    display: flex;
   

}

.carousel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.test{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}
